:root {
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #dc2626;
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

.cool {
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}
.main {
  background-color: var(--secondary);
  height: 50vh;
}
h1 {
  background-color: rgb(216, 216, 216);
  font-size: 25px;
  border-radius: 15px;
  padding-left: 30px;
  margin-left: 100px;
  margin-right: 100px;
  transform: translateY(20px);
}
h2 {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  padding-top: 50px;
  padding-left: 80px;
  font-size: 50px;
  color: white;
}


.main2 {
  background-color: white;
  height: 80vh;
}


